AGENT_API_KEY={{ agent_api_key }}
AGENT_PROVIDER_TYPE={{ kosatka_provider_type | default('awg') }}

# AmneziaWG / WireGuard
AWG_CONFIG_PATH=/etc/amnezia/amneziawg/wg0.conf
AWG_INTERFACE=wg0
AWG_SERVER_INFO_PATH=/opt/kosatka/agent/awg_server.json
WG_CONFIG_PATH=/etc/wireguard/wg0.conf
WG_INTERFACE=wg0

# Marzban (only used when provider_type=marzban)
MARZBAN_URL={{ marzban_url | default('http://127.0.0.1:8000') }}
MARZBAN_USERNAME={{ marzban_username | default('') }}
MARZBAN_PASSWORD={{ marzban_password | default('') }}
